## User Analysis II -  Loyalty status & purchase activity


### 1. Users by Loyalty Status overall 

- Average user Loyalty Status is between 1 & 2 clustered close with standard deviation 1. The close distribution implies customer volumes are consistent with minimal variance. This is also supported by user percent allocated across loyalty statuses being near even (see user loyalty chart on next pg.)


### 2. User completed purchases by Loyalty Status

- Percent completed purchases per loyalty status followed the overall pattern of consistent user allocation except 0 varied slightly as lower 

- Customers with a loyalty status 1-3 made 61% of purchases- aligning to market average for repeat clients of 65% given Status 0 has all or most non-repeat clients. This supports Status 0 having the most users yet Status 1 having the most purchases. Also, status 1 had slightly more users than 2-3.

In [2]:
import pandas as pd
import numpy as py

#### General Dataset

In [6]:
df = pd.read_csv('rides.csv', delimiter=',')  
df

,ride_id,user_id,loyalty.status,booking_id,isGuest,loyalty_points_earned,price.loyalty.points_spent,price_nominal,price_after_discount,state,quote_date
0,357a545ef665da69dd86ac33ae817f3a,c6f3a631ae33a84c343dd9c553889337,1,1ea36f95a86a5a876456ce66587f4882,False,0,NaN,5.48,5.80,not_completed,2017-03-01 11:07:49
1,5714536c4b4b1b10c4cd8ac907537044,0bad5fc7936b072d8de8749b9dd608c6,1,NaN,False,0,NaN,4.72,4.72,not_completed,2017-03-02 22:45:02
2,5c8f5dec570b6597090f8b30ea33b0af,0bad5fc7936b072d8de8749b9dd608c6,1,NaN,False,5,NaN,4.72,4.72,completed,2017-03-02 22:45:22
3,0f37be24f23a15746eb8774e7a1bd934,37169a3d6636e14afabb1dbe01f5c83e,0,NaN,False,8,NaN,7.68,7.68,completed,2017-03-03 00:22:45
4,67f054abb8b60132dd7c19cb30e74e10,b89d8219faa82966c7b33ee69b484ad2,3,NaN,False,7,NaN,4.00,4.00,completed,2017-03-04 03:32:15
...,...,...,...,...,...,...,...,...,...,...,...
1445659,790a5ce8fb2253953f99f08978d792ba,53e3cb5a4410c965300760b69f61a1c4,2,NaN,False,8,NaN,5.95,5.95,completed,2017-05-19 22:59:30
1445660,014a51a17ea56cb91040c7273fd50b15,4c3df7a611fe860a54fb0799e0001903,1,NaN,False,9,NaN,8.85,8.85,completed,2017-05-20 05:14:17
1445661,510083d4ed088808455d6db48f60e3ca,7ca9825c2744adf0ec4505e379a28b73,1,NaN,False,6,NaN,4.10,4.10,completed,2017-05-21 20:57:58
1445662,df315daa45794ac80001878f50e6f363,8f100f37bb092089f418936edc0f94c9,3,NaN,False,0,NaN,7.72,7.72,not_completed,2017-05-22 12:59:29
1445663,44b1e577a76dc15a4e5134275c3eb8ca,b2501c4161c76f90466c7ec3a7e29b3e,3,NaN,False,8,NaN,4.67,4.67,completed,2017-05-22 16:28:07

### Users by Loyalty Status

In [16]:
Total_Loyalty_Statuses = df.groupby('loyalty.status').count().filter(['user_id']).rename(columns={'user_id':'user_id_count'})
Total_Loyalty_Statuses

                user_id_count
loyalty.status
0                      404593
1                      380751
2                      353207
3                      307113

### User Activity Completed vs. Not Completed

In [34]:
State_Loyalty = df.groupby('state').count().filter(['user_id'])
State_Loyalty

               user_id
state
completed      1156808
not_completed   288856

In [155]:
Completed = df[(df.state == 'completed')] 
Not_Completed = df[(df.state == 'not_completed')]

### Completed by Loyalty Status

In [156]:
Completed.groupby('loyalty.status').count().filter(['user_id'])

                user_id
loyalty.status
0                277679
1                317957
2                298890
3                262282

### Not Completed by Loyalty Status

In [174]:
Not_Completed.groupby('loyalty.status').count().filter(['user_id'])

                user_id
loyalty.status
0                126914
1                 62794
2                 54317
3                 44831

### Statistics

In [148]:
df.describe().round(1).drop('count').drop(columns={'price_nominal','price_after_discount'})

      loyalty.status  loyalty_points_earned
mean             1.4                    6.2
std              1.1                    4.3
min              0.0                    0.0
25%              0.0                    4.0
50%              1.0                    7.0
75%              2.0                    9.0
max              3.0                   59.0

In [161]:
Status_0 = '{:,.0%}'.format(round(404593 / 1445664,2)) + ' of all users had loyalty status 0'
Status_0

'28% of all users had loyalty status 0'

In [164]:
Status_1 = '{:,.0%}'.format(round(380751 / 1445664,2)) + ' of all users had loyalty status 1'
Status_1

'26% of all users had loyalty status 1'

In [163]:
Status_2 = '{:,.0%}'.format(round(353207 / 1445664,2)) + ' of all users had loyalty status 2'
Status_2

'24% of all users had loyalty status 2'

In [165]:
Status_3 = '{:,.0%}'.format(round(307113 / 1445664,2)) + ' of all users had loyalty status 3'
Status_3

'21% of all users had loyalty status 3'

In [168]:
Status_0 = '{:,.0%}'.format(round(277679 / 1445664,2)) + ' of all users that completed process had loyalty status 0'
Status_0

'19% of all users that completed process had loyalty status 0'

In [169]:
Status_1 = '{:,.0%}'.format(round(317957 / 1445664,2)) + ' of all users that completed process had loyalty status 1'
Status_1

'22% of all users that completed process had loyalty status 1'

In [171]:
Status_2 = '{:,.0%}'.format(round(298890 / 1445664,2)) + ' of all users that completed process had loyalty status 2'
Status_2

'21% of all users that completed process had loyalty status 2'

In [172]:
Status_3 = '{:,.0%}'.format(round(262282 / 1445664,2)) + ' of all users that completed process had loyalty status 2'
Status_3

'18% of all users that completed process had loyalty status 2'